@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-tura-green-100: #dceecd;
  --color-tura-green-600: #2e7d32;
  --color-tura-green-700: #1b5e20;
  --color-tura-green-900: #022705;
  --color-tura-brown-100: #efebe9;
  --color-tura-brown-200: #c2ada6;
  --color-tura-brown-600: #8d6e63;
  --color-tura-brown-800: #5d4037;
  --color-tura-brown-900: #3e2723;


  --font-sans: Inter, sans-serif;
  --font-serif: Merriweather, serif;
  
}

